@-moz-document url-prefix(){.tagify__input:focus:empty:after{display:none}}@font-face{font-display:block;font-family:ozzu;font-style:normal;font-weight:400;src:url(/assets/fonts/7c21a0837f9b8054115635246a4f6cb5/ozzu.eot);src:url(/assets/fonts/7c21a0837f9b8054115635246a4f6cb5/ozzu.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/e171d4d688e967a2ada148aae0919308/ozzu.woff2) format("woff2"),url(/assets/fonts/82fb0c6014c47b749953c4632825a3d3/ozzu.woff) format("woff"),url(/assets/fonts/c4d2f895a583b2ca3178fb4f57ef5c6e/ozzu.ttf) format("truetype"),url("data:image/svg+xml,export default '/assets/fonts/22838fc452f5b6f88b4380ce7952018a/ozzu.svg'%3b?#ozzu") format("svg")}

@media only screen and (max-width: 650px) {
    .btn-con {
        align-items: center;
        flex-direction: column;
    }

    .btn-con button {
        width: 100%;
        margin-block: .25rem;
    }
}